:root {
  --primary-color: #3fd0d4;
}

html {
  font-size: 87.5%;
}
body {
  font-family: var(--font-family);
  font-size: 1rem;
  line-height: normal;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.6rem;
}
h6 {
  font-size: 1.4rem;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hover-1:hover {
  color: var(--primary-color);
  transition: 0.2s;
}
.p-badge {
  background-color: var(--primary-color);
}
.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
}
.bt-second {
  background-color: transparent;
  border: 1px solid #000;
  color: #000;
  font-weight: 500;
}
.absolute {
  position: absolute;
}
.opacity-0 {
  opacity: 0;
}